:root{
    --primario:#784212;
    --secundario:#EB984E;
}


*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    font-size: 100%;
}
nav{
    background-color: white;
    padding: .5em;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5em;
}
nav ul{
    display: flex;
    gap: 1em;
    font-size: 1.2em;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    background-color:var(--primario);
    padding: .4em;
    border-radius: 10px;
}
header{
    margin: 0 2em;
    padding: .5em;
    background-image: url(/img/WBPH35QN3VAQZGWUXMDSLBB4VM.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.col_video{
    padding: 2.5em;
}
h1{
    width: 50%;
    font-size: 4em;
}
h2{
    padding: .3em 0;
}
h3{
    margin:.5em 0;
}
.vivo{
    font-size: 3em;
    color:white;
    text-shadow: 5px 5px 5px var(--primario) ;
}
.subasta{
    width: 30%;
    padding: 2em;
}
.fila_subasta{
    justify-content: space-around;
}
.row{
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
}
section{
    margin:2em;
    background-color: var(--secundario);
    padding: 3em;
    box-shadow: 5px 5px 5px 5px black;
}
.enlace{
    padding: .5em;
    background-color:  var(--primario);
    border-radius: 10px;
    color: white;
}
.enlace_uno{
    margin-top: 1em;
}
.col{
    text-align: justify;
}
img{
    max-width: 100%;
}
.pie{
    justify-content: space-between;
}
footer{
    background-color: var(--primario);
    padding: 1em;
}
.formulario{
    background-color: var(--primario);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 100%;
}
.campos{
    margin-bottom: 1rem;
}
.contenedor-campos{
    display: grid;

}
.campos label{
    color: white;
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.campos textarea{
  height: 8rem ;

}
.input-text{
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
}
.enviar .boton{
    width: 100%;
}
.contacto_form{
    display: flex;
    justify-content: space-around;
    gap: 4.6em;
}
.lista_contacto{
    line-height: 1.5;
    font-size: 1.3em;

}
.titulo_contacto{
    font-weight: 700;
}
fieldset{
    border: none;
}
legend{
    margin-bottom: .5em;
    font-weight: 600;
    color: white;
}
.seg{
    background-color: var(--secundario);
}
label{
    color: white;
    
}
.boton{
    background-color:var(--secundario);
    color:black;
    padding: 1rem 3rem;
    margin-top: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}
.enviar .boton{
    width: 100%;
}
.enviar_form{
    display: flex;
    justify-content: center;
}
.sub_menu{
    display: flex;
    align-items: center;
}
.activo{
    background-color: var(--primario);
    border-radius: 10px;
    padding: .3em;
}
.nav_seg{
    background-color: rgba(182, 142, 90, 0);
}
.nav_seg ul li a{
    color: white;
    font-size: 1.3em;
}
.derechos{
    justify-content: center;
}

th, td {
    border: 1px solid #000;
    padding: .2em;
    text-align: left;
}
.centro{
    justify-content: center;
}
.justifica{
    justify-content: space-between;
}
.esp{
    column-gap: 2em;
}

@media (min-width:900px){
    .tabla{
        display: grid;
        grid-template-columns: repeat(3,33%);
        column-gap: 1.5em;
        max-width: 100%;
    }
    .tres{
        width: 30%;
    }
}
@media (max-width:899px) {
    .row{
        flex-direction: column;
    }
    .fila_subasta{
        flex-direction: column;
    }
    iframe{
        max-width: 100%;
    }
    .tabla{
        display: grid;
        grid-template-columns: repeat(2,50%);
        gap: 1em;
    }
}
@media (max-width:650px) {
    nav ul{
        display: flex;
        flex-direction: column;
    }
    
    nav{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    iframe{
        max-width: 100%;
    }
    .input-text{
        width: 80%;
    }
    .campos{
        width: 80%;
    }
    .tabla{
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        width:90%;
    }
}


